<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 border">
        <h1 style="color: orange; font-weight: bold;">To Do</h1>
        <form [formGroup]= "todoForm" (ngSubmit) = "onSubmit()">
            <div class="row mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" formControlName="description" required>
                <span class="alert alert-danger" *ngIf="todoForm.get('description')?.hasError('required')">
                    Description required
                </span>
                <span class="alert alert-danger" *ngIf="todoForm.get('description')?.hasError('minlength')">
                    Description required min. 5 alphapet
                </span>
            </div>
        
            <div class="row mb-3">
                <label class="form-label">Priority:</label>
                <div class="col-3">
                    <label>
                        <input type="radio" formControlName="priority" value="High" name="priority"> High
                    </label>
                    
                </div>
                <div class="col-3">
                    <label>
                        <input type="radio" formControlName="priority" value="Medium" name="priority"> Medium
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input type="radio" formControlName="priority" value="Low" name="priority"> Low
                    </label>
                </div>
                <span class="alert alert-danger" *ngIf="todoForm.get('priority')?.hasError('required')">
                    Priority required
                </span>
            </div>
        
            <div class="row mb-3">
                <label class="form-label">Due Date:</label>
                <input type="date" class="form-control" id="due" formControlName="due" required>
                <span class="alert alert-danger" *ngIf="todoForm.get('due')?.hasError('required')">
                    Due date required
                </span>
                <span class="alert alert-danger" *ngIf="todoForm.get('due')?.hasError('notPast')">
                    Due date cannot be past date
                </span>
            </div>

            <div *ngIf="todoForm.invalid; else formNoError">
                <button type="submit" class="btn btn-secondary">Disable</button>
            </div>

            <ng-template #formNoError>
                <div *ngIf="editMode ; else addMode">
                    <button type="submit" class="btn btn-primary" (click)="toUpdate()">Update</button>
                </div>
                <ng-template #addMode>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </ng-template>
            </ng-template>

            <div class="row mb-3"></div>
        </form>
    </div>
    <div class="col-1"> </div>
</div>
<br>

<div class = "row">
    <div class="col-1"></div>

    <div class="col-10  border">
        <h1 style="color: orange; font-weight: bold;">Task</h1>
        <div *ngIf="todos.length > 0; else empty">
            <div class="row mx-5 mb-3 border" *ngFor="let todo of todos; let i = index">
                <div class="row">
                    <div class="col-12 col-md-1">
                        <input type="checkbox" [checked]="todo.completed" (change)="onToggleComplete(i)">
                        <label>completed</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <h3>{{ todo.description }}</h3>
                    </div>
                    <div class="col-12 col-md-1 d-flex justify-content-end">
                        <button type="click" class="btn btn-danger" style="margin-right: -35px;" (click)="onDelete(i)">X</button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12 col-md-1">
                        <button type="click" class="btn btn-primary btn-sm " (click)="toEdit(i)">Edit</button>
                        
                    </div>
                    <div class="col-12 col-md-10">
                        <p style="font-style: italic;">Priority : {{ todo.priority }}</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <p>{{ todo.due | date:'MMM dd'}}</p>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #empty>
            <h3>No task</h3>
        </ng-template>

        <div class="row mb-3"></div>
    </div>
    <div class="col-1"> </div>
</div>

<!-- <div class = "row">
    <div class="col-1"></div>
    <div class="col-10 border">
        <h1 style="color: orange; font-weight: bold;">Task</h1>
        @for (todo of todos; track $index) {
            <div class="border row">
                <h3>{{ todo.description }}</h3>
                <div class="row">
                    <div class="col-11">
                        <p style="font-style: italic;">{{ todo.priority }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ todo.due | date:'MMM dd'}}</p>
                    </div>
                </div>
            </div>
            <br>
        }
        @empty {
            <h3>No task</h3>
        }
    </div>
    <div class="col-1"> </div>
</div> -->